<div #card class="card relative bottom-4 opacity-0 transition-all" [ngStyle]="{display: opacity}">
  <div class="card-image" [ngStyle]="{background: 'url(http://localhost:7000/img/' + imageStr + ') bottom center no-repeat'}" style="background-size: contain">

  </div>
  <div class="card-text">
    <span class="price">{{sales + (type === 'user' ? ' Times Bought' : ' Sales')}}</span>
    <h2>{{title}}</h2>
    <p>{{desc}}</p>
  </div>
  <div class="card-stats items-center">
    <div class="stat text-center">
      <div class="value">{{price}}$</div>
      <div class="type">price</div>
    </div>
    <a class="h-full" style="border-bottom-right-radius: 15px" [href]="'/marketplace/'+category+'#'+id" *ngIf="type === 'user'">
      <div class="stat btn right">
        <div class="value">Go To Product</div>
      </div>
    </a>
    <div class="stat btn right h-full" (click)="delete()" *ngIf="type === 'business'">
      <div class="value">Delete</div>
    </div>
  </div>
</div>
