<div class="relative py-4 px-8 w-4/5 inline-block text-left rounded-full shadow-md hover:shadow-lg transition-all my-4" style="background-color: #fff; color: #000000">
  <h1 class="text-2xl block">{{title}}</h1>
  <p class="text-sm font-bold mb-0 ml-0.5 inline mr-2">{{type === 'recurring' ? time : time + " on " + date}}</p>
  <p class="text-xs font-bold mb-0 ml-0.5 inline">({{type}})</p>
  <button class="absolute right-6 bottom-1/4 mt-2 hover:bg-gray-200 active:bg-gray-300 px-2 py-1 rounded-full transition-colors" (click)="delete()">
    <i class="far fa-trash-alt text-red-400"></i>
  </button>
</div>
