<div #todo (click)="edit = true" class="relative py-4 px-8 w-4/5 inline-block text-left rounded-full shadow-md hover:shadow-lg transition-all my-4" style="background-color: #fff; color: #000000">
  <h1 class="text-2xl block" *ngIf="!edit">{{title}}</h1>
  <p class="text-sm font-bold mb-0 ml-0.5 inline mr-2" *ngIf="!edit">{{type === 'recurring' ? time : time + " on " + date}}</p>
  <p class="text-xs font-bold mb-0 ml-0.5 inline" *ngIf="!edit">({{type}})</p>
  <input class="text-2xl block outline-none focus:outline-none" [value]="title" *ngIf="edit">
  <input class="text-sm font-bold mb-0 ml-0.5 inline mr-2 outline-none focus:outline-none" [value]="type === 'recurring' ? time : time + ' on ' + date" *ngIf="edit">
  <input class="text-xs font-bold mb-0 ml-0.5 inline outline-none focus:outline-none" [value]="type" *ngIf="edit">
  <button class="absolute right-6 bottom-1/4 mt-2 hover:bg-gray-200 active:bg-gray-300 px-2 py-1 rounded-full transition-colors" (click)="delete()" *ngIf="!edit">
    <i class="far fa-trash-alt text-red-400"></i>
  </button>
  <button class="absolute right-6 bottom-1/4 mt-2 hover:bg-gray-200 active:bg-gray-300 px-2 py-1 rounded-full transition-colors" (click)="setEdit()" *ngIf="edit">
    sus
  </button>
</div>
