<div>
  <div class="sidebar">
    <div style="margin-top: 100px">
      <div class="sidebar-item selected">
        <h1>Sus</h1>
      </div>
      <div class="sidebar-item">
        <h1>Sus</h1>
      </div>
      <div class="sidebar-item">
        <h1>Sus</h1>
      </div>
      <div class="sidebar-item">
        <h1>Sus</h1>
      </div>
    </div>
  </div>
  <div class="list">
    <h1 class="title">Title</h1>
    <div class="cards">
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
      <app-item-card title="sus" imageStr="assets/images/dog.png"></app-item-card>
    </div>
  </div>
</div>
