<div id="wrapper">
  <app-sidebar></app-sidebar>
  <img src="assets/images/dog.png" class="rounded-full w-12 h-12 fixed top-6 right-8 bg-white hover:cursor-pointer" routerLink="/dashboard/user">
  <div class="list">
    <h1 class="title">{{title}}</h1>
    <div class="cards text-center">
      <app-item-card type="market" [id]="item._id" [title]="item.name" [imageStr]="item.image_name" [desc]="item.desc" [sales]="item.sales" [price]="item.price" *ngFor="let item of items"></app-item-card>
    </div>
  </div>
</div>
