<!-- Navbar -->
<nav
  class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-end flex items-center p-4"
>
  <div
    class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4"
  >
    <!-- Brand -->
    <a
      class="text-white text-sm uppercase lg:inline-block font-semibold"
    >Dashboard</a
    >
    <!-- User -->
    <ul class="flex-col md:flex-row list-none items-center flex">
      <app-user-dropdown class="block"></app-user-dropdown>
    </ul>
  </div>
</nav>

