<nav class="navbar bg-white m-1 bg-transparent" style="background: transparent" id="navbar" #navbar>
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="#" class="flex">
      <img src="assets/images/logo.png" alt="" class="logo-img">
    </a>
    <div class="flex items-center">
      <button class="btn signup" routerLink="register">
        Sign up
      </button>
      <button class="btn login" routerLink="sign-in">
        Login
      </button>
    </div>
  </div>
</nav>
