<div style="padding-bottom: 30px">
  <div class="relative bg-blueGray-100">
    <app-admin-navbar></app-admin-navbar>
    <app-header-stats [type]="type"></app-header-stats>
    <div class="relative inline-block px-4 md:px-10 mx-auto top-1/2 w-full -m-24 pb-8 align-top">
      <div class="products-form p-8 block xl:inline-block w-full xl:w-3/5" >
        <h6 class="uppercase text-blueGray-100 mb-1 text-xs font-semibold" style="color: rgba(241,245,249,1);">OVERVIEW</h6>
        <h1 class="text-white text-xl font-semibold" style="color: rgba(241,245,249,1);">{{type === 'business' ? 'Products' : 'Purchases'}}</h1>
        <div style="width: 100%; height: 80%; overflow-y: scroll; overflow-x: hidden" class="text-center" *ngIf="type === 'business'">
          <app-item-card-dashboard type="product" [type]="type" [reload]="reloadProducts" [id]="item._id" [title]="item.name" [imageStr]="item.image_name" [desc]="item.desc" [sales]="item.sales" [price]="item.price" *ngFor="let item of products"></app-item-card-dashboard>
        </div>
        <div style="width: 100%; height: 80%; overflow-y: scroll; overflow-x: hidden" class="text-center inline-block" *ngIf="type === 'user'">
          <app-item-card-dashboard type="product" [sales]="item.item" [id]="item.id" *ngFor="let item of ids"></app-item-card-dashboard>
        </div>
      </div>
      <div class="bg-transparent xl:inline-block block xl:absolute xl:top-0 xl:ml-2 xl:mt-0 relative w-full xl:w-2/5">
        <div class="bg-white w-7/12 rounded-t rounded-b mt-4 xl:mt-0 p-6 xl:w-full inline-block xl:block drop-shadow-md" style="height: 30.6rem" *ngIf="type === 'user'">
          <h6 class="text-blueGray-700 text-xs font-semibold mb-0">TOPUP</h6>
          <h1 class="text-white text-xl font-semibold" style="color: rgb(0,0,0);">Topup Your Balance</h1>
          <form #t="ngForm" class="mt-4 h-4/5 relative" (submit)="topup()">
            <label for="amount" class="block text-black text-md font-bold mb-2 mt-4">Enter the Amount To Topup: </label>
            <input type="number" name="amount" id="amount" min="1" class="resize-none outline-2 outline-gray-700 border-2 focus:border focus:border-gray-700 text-gray-700 rounded-b rounded-t py-1 px-2 focus:outline-none focus:outline-blue-500 focus:transition-all w-20 overflow-x-auto" onkeypress="this.style.width = (((this.value.length + 1) * 16) + 25) + 'px'" required ngModel #amount="ngModel">

            <button class="absolute bottom-0 right-4 mr-auto bg-blue-500 hover:bg-blue-700 active:bg-blue-800 disabled:hover:bg-blue-300 disabled:cursor-not-allowed disabled:bg-blue-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" [disabled]="!t.valid">
              Topup
            </button>
          </form>
        </div>
        <div routerLink="/marketplace/home" class="xl:w-full w-5/12 hover:cursor-pointer hover:bg-gray-100 active:bg-gray-200 ml-8 transition-all xl:ml-0 bg-white xl:static rounded-t absolute top-4 -right-5 rounded-b xl:mt-4 p-6 inline-block xl:inline-block xl:mt-0 drop-shadow-md" *ngIf="type === 'user'">
          <h6 class="text-blueGray-700 text-xs font-semibold mb-0">MARKETPLACE</h6>
          <h1 class="text-white text-xl font-semibold" style="color: rgb(0,0,0);">Go To Marketplace</h1>
        </div>
      </div>
      <div *ngIf="type === 'user'">
        <div class="bg-white p-6 max-h-80 drop-shadow-md w-2/3 mt-4 rounded-b rounded-t text-center py-4 overflow-y-auto inline-block">
          <h6 class="text-blueGray-700 text-xs font-semibold mb-0 text-left">DOG PLANNER</h6>
          <h1 class="text-white text-xl font-semibold text-left mb-4" style="color: rgb(0,0,0);">Check What You Have To Do</h1>
          <ng-container #vc></ng-container>
          <ng-container *rerender="todo">
            <app-todo-item [title]="t.title" [date]="t.date" [time]="t.time" [delete]="del" [type]="t.type" [index]="i" *ngFor="let t of todo; let i = index"></app-todo-item>
          </ng-container>

          <hr>
          <div class="text-left">
            <a href="https://petazon-dog-sick-ml.surge.sh/" class="inline-block hover:cursor-pointer select-none w-fit mt-4 bg-blue-500 hover:bg-blue-700 active:bg-blue-800 disabled:hover:bg-blue-300 disabled:cursor-not-allowed disabled:bg-blue-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              Check Your Dog's Health!
            </a>
            <a href="https://petazon-dog-ml.surge.sh/" class="ml-4 inline-block hover:cursor-pointer select-none w-fit mt-4 bg-blue-500 hover:bg-blue-700 active:bg-blue-800 disabled:hover:bg-blue-300 disabled:cursor-not-allowed disabled:bg-blue-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              Get Help to Train Your Dog!
            </a>
          </div>
        </div>
        <div class="bg-white min-h-20 p-6 align-top relative left-5 drop-shadow-md w-1/3 mt-4 rounded-b rounded-t py-4 overflow-y-auto xl:bottom-0 inline-block md:relative md:bottom-80">
          <h1 class="text-white text-xl font-semibold text-left mb-0" style="color: rgb(0,0,0);">FORM</h1>
          <h6 class="text-blueGray-700 text-xs font-semibold mb-4 text-left uppercase">Add Something To Your Pets Busy Schedule</h6>
          <form (submit)="todoSubmit()" #todoF="ngForm">
            <label for="date" class="block text-left text-black text-md font-bold mb-2 mt-4">Enter the Type: </label>
            <select name="type" id="type" class="focus:outline focus:border-none border-2 border-gray-700 h-8 rounded-full px-2" required ngModel #typeSelector>
              <option value="recurring">Recurring</option>
              <option value="once">Once</option>
            </select>
            <label for="date" class="block text-left text-black text-md font-bold mb-2 mt-4">Enter the Date: </label>
            <input type="date" id="date" name="date" class="focus:outline-none px-2 py-1 rounded disabled:cursor-not-allowed" (change)="handleDate($event)" [required]="typeSelector.value === 'recurring' || typeSelector.value === ''" [disabled]="typeSelector.value === 'recurring' || typeSelector.value === ''" ngModel>
            <label for="time" class="block text-left text-black text-md font-bold mb-2 mt-4">Enter the time: </label>
            <input type="time" id="time" name="time" value="now" class="focus:outline-none block px-2 py-1 rounded" (change)="handleTime($event)" required ngModel>
            <label for="date" class="block text-left text-black text-md font-bold mb-2 mt-4">Enter the Title: </label>
            <input type="text" id="title" name="title" class="resize-none outline-2 outline-gray-700 border-2 focus:border focus:border-gray-700 text-gray-700 rounded-b rounded-t py-1 px-2 focus:outline-none focus:outline-blue-500 focus:transition-all w-2/5 overflow-x-auto" required ngModel #name="ngModel">

            <button class="block mt-4 ml-auto bg-blue-500 hover:bg-blue-700 active:bg-blue-800 disabled:hover:bg-blue-300 disabled:cursor-not-allowed disabled:bg-blue-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" [disabled]="!todoF.valid">
              Add
            </button>
          </form>
        </div>
      </div>
      <div class="products-form p-8 mt-8 mb-8 relative w-full xl:w-4/5" *ngIf="type === 'business'">
        <h6 class="uppercase text-blueGray-100 mb-1 text-xs font-semibold" style="color: rgba(241,245,249,1);">FORM</h6>
        <h1 class="text-white text-xl font-semibold" style="color: rgba(241,245,249,1);">Add Product</h1>
        <form #f="ngForm" class="mt-4" (submit)="onSubmit()">
          <label for="name" class="block text-white text-md font-bold mb-2">Name: </label>
          <input type="text" id="name" name="name" class="rounded-b rounded-t h-8 py-2 px-2 focus:outline-none border-none focus:outline-blue-500 focus:transition-all w-2/5" required ngModel #name="ngModel">

          <label for="desc" class="block text-white text-md font-bold mb-2 mt-4">Description: </label>
          <textarea type="text" id="desc" name="desc" class="resize-none rounded-b rounded-t h-20 py-2 px-2 focus:outline-none border-none focus:outline-blue-500 focus:transition-all w-2/5" required ngModel #name="ngModel">
          </textarea>

          <label for="file" class="block mt-8 text-white bg-blue-500 hover:bg-blue-700 active:bg-blue-800 hover:cursor-pointer hover:transition-all active:transition-all w-fit rounded-b rounded-t py-2 px-4">
            <input type="file" id="file" class="bg-white" accept="image/png, image/jpeg" style="background-color: #4daf7c" name="image" ngModel required #image="ngModel" (change)="fileChanged($event)">
            Upload A Picture of Your Product!
          </label>

          <label for="price" class="block text-white text-md font-bold mb-2 mt-4">Price (in USD): </label>
          <input type="number" name="price" id="price" min="1" class="resize-none rounded-b rounded-t py-1 px-2 focus:outline-none border-none focus:outline-blue-500 focus:transition-all w-20 overflow-x-auto" onkeypress="this.style.width = (((this.value.length + 1) * 16) + 25) + 'px'" required ngModel #price="ngModel">

          <label for="category" class="block text-white text-md font-bold mb-2 mt-4">Category: </label>
          <select name="category" id="category" class="rounded-b rounded-t py-1 px-2 focus:outline-none border-none hover:outline-blue-500 focus:outline-blue-500 transition-all" required ngModel #category="ngModel">
            <option value="Food">Food</option>
            <option value="Utensils">Utensils</option>
            <option value="Accessories">Accessories</option>
            <option value="Health">Health</option>
            <option value="Furniture">Furniture</option>
            <option value="Toys">Toys</option>
          </select>


          <button class=" absolute bottom-4 right-4 ml-auto mr-auto bg-blue-500 hover:bg-blue-700 active:bg-blue-800 disabled:hover:bg-blue-300 disabled:cursor-not-allowed disabled:bg-blue-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" [disabled]="!f.valid">
            Upload
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
